/* *{
  border: black solid 1px;
} */

.topSection{
  background-color: #f1f1f1;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 4rem;
}
nav{
  display: flex;
  justify-content: space-between;
}

nav img{
  height: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.mainMessage{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 5rem;
  margin-left: 3rem;
  /* width: 60%; */

}

.mainMessage>article{
  /* margin-top: 1rem; */
  margin-bottom: 4rem;
  font-size: 1.5rem;
}

button{
  background-color: white;
  font-size: 2rem;
  padding: 1rem;
}

.bottomSection{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bottomSection>div{
  width: 20%;
}